.nav{
    background-color: white;
    width: auto;
    height: 100px;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li{
      float: left;
      padding: 10px;
  }
#logo{
    margin-left: 50px;
}
.search{
    margin-left: 300px;
}
button{
    position: relative;
    float: right;
    
}
#grid{
    margin-left: 400px;
}
section{
    background-color: whitesmoke;
    width: 60%;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
}
aside{
    background-color: gray;
    width: 20%;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
}
#left {
    float: left;
    width: 50%;
    }
#right {
    float:right;
    width: 40%;
    }
.view-info{
    width: auto;
    height: 55px;
    padding: 20px, 30px, 20px, 30px;
}
.views{
    position: fixed;
    margin-right: 20px;
    float: left;
    margin-right: 0px;
}
.icons{
    float: right;
    position: relative;
    margin-top: 15px;
    padding: 10px, 15px, 10px, 15px;
    margin-left: 0px;

}
